.country {
    border: 2px solid red;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.country-visited{
    background-color: aqua;
    border: 2px solid green;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    color: black;
}